:root{
   --color-primary:#8A5CE5;
   --color-accent: #e6533c;
   /* used for button */
   --color-titles: #ffffff;
   --color-body-text: #808080;
   --color-bg: #000000;
   --color-bg-two: #222222;
   --color-container: #393939;
   --color-stroke: #323232;
   --color-hover: #863428;
   --max-width: 106rem;
   --max-width-mobile: 360px; 
}

@media screen and (max-width: 576px) {
   h1 {
      font-size: 3.6rem;
      line-height: 4.8rem;
   }
   .custom-font{
      font-size:7.5rem;
   }
   h2{
      font-size: 3.2rem;
   }
   h3{
      font-size: 1.8rem;
   }
   .container {
      max-width: var(--max-width-mobile);
      margin-left: auto;
      margin-right: auto;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      /* border: 1px solid red; */
   }
   .navbar{
      margin-bottom: 4.8rem;
   }
   .nav-heads{
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 1;
      border: none;
      border-radius: 0;
      position: fixed;
      gap: 2rem;
      top: 5.5rem;
      right: -100%;
      z-index: 10;
      width: 50vw;
      height: 100vh;
      padding: 2rem;
      background-color: rgba(0, 0, 0);
      box-shadow: -5px 0 5px rgba(255, 255, 255, 0.25);
      transition: .25s ease-in-out;
   }
   .home{
      background-color: transparent;
      border-radius: 0;
      padding: 0;
     }
   .nav-items{
      border-radius: 2rem;
      padding: 1rem 2rem;
     }
   .nav-items:hover{
      /* border-bottom: 1px solid var(--color-stroke); */
      background-color: var(--color-accent);
      /* border-radius: 2rem;
      padding: 1rem 2rem; */
   }
   .open-sidebar-btn, .close-sidebar-btn{
      display: block;
      cursor: pointer;
   }
   #sidebar-active:checked ~ .nav-heads{
      right: 0;
   }
   
   
   .btn{
      width: 17rem;
      padding: 1.6rem 2.05rem;

   }
   .btn-club{
      display: none;
   }
   .hero{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4.8rem;
   }
   .hero-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.8rem;
      max-width: 35.2rem;
      max-height: 33.5rem;
   }
   .hero-img{
      max-height: 58rem;
      max-width: 35.3rem;
      position: relative;
   }
   
   .bc-type-one h2 {
      font-size: 3.024rem;
   }
   .bc-type-two h2 {
      font-size: 1.814rem;
   }
   .blur-container{
      padding-left: 1.8rem;
   }
   .blur-container p{
      font-size: 0.983rem;
   }
   .bc-type-one{
      /* blur container = bc */ 
         top: 5rem;
         right: -1rem;
         /* width: 19.3rem; */
      }
   .bc-type-two{
      flex-direction: row;
      top: 28rem;
      right: 15rem;
      width: 15.5rem;
      }


   .habits{
      margin: 5rem 0;
   }
   .habits-body{
      flex-direction: column;
   }
   /* Run an extra mile */
   .run-extra{
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      padding: 3rem 3rem;
      border-radius: 1.8rem;
      margin-bottom: 10rem;
   }
   .run-extra-text{
      width: 28rem;
   }
   .run-extra-img{
      width: 28rem;
      height: 17rem;
   }
   .run-extra-text .btn{
      width: 100%;
   }
}







@media screen and (min-width: 576px) and (max-width:992px){
   
   .hero{
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}