@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@font-face {
   font-family: "miama";
   src: url('../fonts/miama/Miama.ttf');
 }
/* root */
:root{
   --color-primary:#8A5CE5;
   --color-accent: #e6533c;
   /* used for button */
   --color-titles: #ffffff;
   --color-body-text: #808080;
   --color-bg: #000000;
   --color-bg-two: #222222;
   --color-container: #393939;
   --color-stroke: #323232;
   --color-hover: #863428;
   --max-width: 106rem;
   /* --max-width-mobile:  */
}
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html, body{
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   overflow-x: hidden;
}

/* Typography */
html {
   font-size: 62.5%;
}

body{
   background-color: var(--color-bg);
   color: var(--color-body-text);
   font-family: "Inter", Arial, Helvetica, sans-serif;
   font-size: 1.4rem;
   font-weight: 400;
}

/* inter font variables 
   Thin: 100
   Light: 300
   Regular: 400
   Medium: 500
   SemiBold: 600
   Bold: 700
   Extrabold: 800
   Black: 900
*/

h1, h2, h3, h4{
   font-weight: 900;
   color: var(--color-titles);
   margin: 0;
}
p{
   margin: 0;
}
h1 {
   font-size: 7.8rem;
   line-height: 9rem;
}
.custom-font{
   font-family: "miama", "Inter";
   font-weight: 400;
   font-size: 15rem;
}
h2{
   font-size: 4.8rem;
}
h3{
   font-size: 2.8rem;
}
h4{
   font-size: 1.8rem;
   margin-bottom: 0.6rem;
}
a{
   text-decoration: none;
}
a:link, a:visited, a:active { 
   color: var(--color-secondary); 
}
li{
   list-style: none;
}


/* common styles */
.container {
   max-width: var(--max-width);
   margin-left: auto;
   margin-right: auto;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
   /* border: 1px solid red; */
 }
.btn{
   border-radius: 3rem;
   font-weight: 600;
   font-size: 1.8rem;
   padding: 1.6rem 4.65rem;
   color: var(--color-titles);
   cursor: pointer;
}
.btn-primary{
   border: none;
   background-color: var(--color-accent);
}
.btn-secondary{
   background-color: var(--color-bg);
   border: 1px solid var(--color-stroke);
}
/* header */
   /* navbar */
   .header{
      position: relative;
   }
   .gradient-bg{
      position: absolute;
      top: -5.5rem;
      left: 0;
      width: 100%;
      height: 715px;
      background: linear-gradient(to bottom, rgb(17, 17, 17, 0)1%, rgb(34,34,34)50%, rgb(17, 17, 17,0));
      /* background-image: linear-gradient(to bottom, rgb(17, 17, 17, 100), rgb(119, 119, 119, 50)); */
      z-index: -1;
      /* background-color: green; */
   }
  .navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 5.5rem;
   margin-bottom: 3.2rem;
  }
  .nav-heads{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 3rem;
   border: 1px solid var(--color-stroke);
   border-radius: 3rem;
   padding: 1.2rem 0.3rem 1.2rem 0.3rem ;
   color: var(--color-titles);
   margin: 0;
  }
  #sidebar-active, .open-sidebar-btn, .close-sidebar-btn{
   display: none;
  }
  .nav-items{
   border-radius: 2rem;
   padding: 1rem 2rem;
  }
  .nav-items:hover{
   background-color: var(--color-accent);
   
  }
  /* .home{
   background-color: var(--color-accent);
   border-radius: 2rem;
   padding: 1rem 2rem;
  } */
  .logo-name{
      font-weight: 800;
      font-size: 3.5rem;
      font-style: italic;
      color: var(--color-accent);
  }

   /* hero */
   .hero{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;

   }
   .hero-text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2.8rem;
      width: 50rem;
      max-height: 42.5rem;
      /* width: 100%; */
   }
   .hero-img{
      max-height: 55rem;
      max-width: 54rem;
      position: relative;
      /* overflow: hidden; */
   }
   .blur-container{
      background-color: rgb(57, 57, 57, 70%);
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 2rem;
      position: absolute;
      /* width: 100%; */
   }

   .bc-type-one{
   /* blur container = bc */ 
      top: 11rem;
      right: -5rem;
      /* width: 19.3rem; */
   }
   .bc-type-one h2 {
      font-size: 4rem;
   }
   .bc-type-two{
      flex-direction: row;
      top: 40rem;
      right: 27rem;
      width: 20.6rem;
   }
   .bc-type-two h2 {
      font-size: 2.4rem;
   }
   .red-shape{
      background-color: var(--color-accent);
      /* border: 1px solid red; */
      height: 5rem;
      width: 5rem;
      border-radius: 50% 50% ;
   }
   .bc-text{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 1rem;
   }
  
   .habits{
      margin: 10rem 0;
   }
   .habits-body{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem;
   }
   .section-head{
      text-align: center;
      margin-bottom: 6rem;
   }
   .habits-container{
      width: 23rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
   }
   .habits__img{
      height: 18rem;
      width: 18rem;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 3rem;
   }
   .habits__img img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
   }
/* main */
/* footer */