.test1{
   max-width: var(--max-width);
   background-color: red;
   display: flex;
   justify-content: center;
   align-items: center;   
}
.test2{
   width:56rem;
   height: 40rem;
   background-color: blue;
}
.test3{
   width: 60rem;
   background-color: blueviolet;
   height: 30rem;
}